
.game-grid {
    -fx-background-color: #031522;
    /*-fx-background-image: url("../img/grid-bg.png");*/
    -fx-background-repeat: repeat;
    -fx-padding: 5;
    -fx-border-color: rgba(45, 212, 240, 0.4);
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.mine-cell-covered {
    -fx-background-color: rgba(6, 31, 47, 0.95);
    -fx-border-color: rgba(45, 212, 240, 0.15);
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.mine-cell-covered:hover {
    -fx-background-color: rgba(45, 212, 240, 0.2);
    -fx-border-color: #2dd4f0;
}

.mine-cell-revealed {
    -fx-background-color: transparent;
    -fx-border-color: rgba(45, 212, 240, 0.05);
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.mine-cell-flagged {
    -fx-background-color: rgba(255, 74, 105, 0.15);
    -fx-border-color: #ff4a69;
}
.flag-mode-active {
    -fx-background-color:#ff4a69 ; /* Nền màu hồng */
    -fx-background-image: url("../img/flag-icon.png");
    /* BẮT BUỘC PHẢI THÊM 3 DÒNG NÀY: */
    -fx-background-size: 24px 24px;      /* Chỉnh kích thước icon vừa với nút */
    -fx-background-repeat: no-repeat;    /* Không cho ảnh lặp lại nhiều lần */
    -fx-background-position: center;     /* Căn giữa hình ảnh vào nút */

    -fx-border-color: #000000 #fffffe #fffffe #000000; /* Hiệu ứng lõm xuống */
    -fx-padding: 3px 0px 0px 3px;
}
.btnFlat {
    -fx-border-color: #fffffe #000000 #000000 #fffffe;
    -fx-border-width: 3px;
    -fx-background-color: #ff8906; /* Nền cam nổi bật */
    -fx-background-image: url("../img/bomb-icon.png");

    /* BẮT BUỘC PHẢI THÊM 3 DÒNG NÀY: */
    -fx-background-size: 24px 24px;      /* Chỉnh kích thước icon vừa với nút */
    -fx-background-repeat: no-repeat;    /* Không cho ảnh lặp lại nhiều lần */
    -fx-background-position: center;
    -fx-text-fill: #0f0e17;
    -fx-font-weight: bold;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-padding: 1px;
    -fx-cursor: hand;
}
.mine-cell-flaggedd {
    /* 1. KẾ THỪA MÀU NỀN VÀ VIỀN CỦA Ô CHƯA MỞ */
    -fx-background-color: rgba(6, 31, 47, 0.95);
    -fx-border-color: rgba(45, 212, 240, 0.15);
    -fx-border-width: 1;
    -fx-cursor: hand;
    /* 2. HIỂN THỊ ẢNH LÁ CỜ (Giữ nguyên như cũ) */
    -fx-background-image: url("../img/flag-icon.png");
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/* --- CÁC CLASS MỚI CHO GIAO DIỆN GAME LOGIC --- */

.mine-cell-bomb {
    -fx-background-color: #ff4a69;
    -fx-opacity: 1;
    -fx-padding: 0;
}

.mine-cell-number {
    -fx-background-color: #031522;
    -fx-text-fill: #39ff8f;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.mine-cell-empty {
    -fx-background-color: #031522;
    -fx-opacity: 1;
}

.btn-flat-normal {
    -fx-border-color: #2dd4f0;
    -fx-text-fill: #FFFFFF;
}

.btn-flat-flag-active {
    -fx-border-color: #ff4a69;
    -fx-text-fill: #ff4a69;
}

